<mat-card *ngFor="let post of posts" class="post-card">
  <mat-card-subtitle>A post from: {{ post.author.username }}</mat-card-subtitle>
  <mat-card-content>
    <p>{{post.createdAt}}</p>
    <p>{{post.text}}</p>
    <div *ngIf="post.comments && post.comments.length > 0" class="comments-section">
      <mat-divider></mat-divider>
      Comments
      <mat-card *ngFor="let comment of post.comments" class="comment-card">
        <p class="comment-author">{{comment.author.username}} at {{comment.updatedAt}}</p>
        <p class="comment-text">
          {{ comment.text }}
          <mat-icon class="comment-button" (click)="editComment(comment._id, comment.text)">edit</mat-icon>
        </p>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions-posts-container">
    <button mat-button (click)="addComment(post._id)">Comment</button>
  </mat-card-actions>
</mat-card>

<button mat-fab extended class="fab-button" (click)="createPost()">
  <mat-icon>add</mat-icon>
  New Post
</button>
