.fab-button {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.custom-textarea {
  background: rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.custom-textarea::placeholder {
  color: rgba(51, 51, 51, 0.5); /* Color del placeholder más tenue */
}

.custom-textarea:focus {
  background: rgba(255, 255, 255, 0.9); /* Cambio de fondo al enfocar */
  border-color: #6200ea; /* Borde con color primario */
  box-shadow: 0px 0px 5px rgba(98, 0, 234, 0.5); /* Efecto sutil */
}

.new-post-card {
  padding: 20px;
}

.post-card {
  width: 100%;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.post-card:hover {
  transform: translateY(-5px);
}

.post-card p {
  margin: 0;
  font-size: 14px;
  color: #666;
  text-align: left;
}

mat-card-subtitle {
  padding-left: 15px;
}

.comment-card{
  border-radius: 1px;
  padding: 10px;
  margin-top: 5px;
  position: relative;
}

.comments-section{
  width: 100%;
  margin-top: 10px;
}

.actions-posts-container {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.comment-button{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}

.comment-button:hover {
  color: #007bff;
}

.comment-author{
  margin: 0;
  font-size: 14px;
  color: #000000;
  text-align: left;
}